<div class="row">
  <div class="col-sm-6">
    <div class="big-box">&nbsp;</div>
  </div>
  <div class="col-sm-6 no-padding">
    <div class="row">
      <% @project_pages.sort_by(&:sort_order).each do |project_page| %>
        <%= link_to(scrivito_path(project_page)) do %>
        <div class="col-sm-4 works-content works-title no-padding">
          <% if project_page.project_title.present? %>
            <%= scrivito_value(project_page.project_title) %>
          <% end %>
        </div>
        <div class="col-sm-7 works-content no-padding">
          <% if project_page.image.present? %>
            <%= image_tag(scrivito_path(project_page.image), {class: "img-responsive works-img"} ) %>
          <% end %>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>