<!-- OUR WORK SECTION -->        
<div class="container">
  <div class="row no-gutter">
    <div class="col-sm-8">
      <div class="big-box">&nbsp;</div>
    </div>
    <div class="col-sm-4">
      <div class="row no-gutter">
      	<%= render(partial: "post", collection: @posts, tag: @tag) %>
      </div><!-- /row works -->
    </div>
  </div><!-- /row -->
</div><!-- /container -->
