<div class="row">
  <div class="col-sm-7">
    <div class="big-box">&nbsp;</div>
  </div>
  <div class="col-sm-5">
    <div class="row">
      <% @project_pages.each do |project_page| %>
        <%= link_to(scrivito_path(project_page)) do %>
        <div class="col-sm-8 works-content works-img">
          <% if project_page.image.present? %>
            <%= image_tag(scrivito_path(project_page.image), {class: "img-responsive"} ) %>
          <% end %>
        </div>
        <div class="col-sm-4 works-content works-title">
          <% if project_page.project_title.present? %>
            <%= scrivito_value(project_page.project_title) %>
          <% end %>
        </div>
      <% end %>
      <% end %>
    </div>

  </div>
</div>