<div class="row no-gutter">
  <div class="col-sm-7">
    <div class="big-box">&nbsp;</div>
  </div>
  <div class="col-sm-5">
    <div class="row no-gutter">
      <% @project_pages.each do |project_page| %>
      <%= link_to(scrivito_path(project_page)) do %>
        <div class="col-sm-4">
          <% if project_page.image.present? %>
            <%= image_tag(scrivito_path(project_page.image), {class: "img-responsive"} ) %>
          <% end %>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
  </div>