  <div class="row no-gutter">
    <div class="col-sm-7">
      <div class="big-box">&nbsp;</div>
    </div>
    <div class="col-sm-5">
      <div class="row no-gutter">
        <%= link_to(scrivito_path(project_page)) do %>
        <div class="col-sm-6">
          <%= scrivito_image_tag(@obj, :image, class: "img-responsive works-img") %>
        </div>
        <div class="col-sm-1">
          <%= scrivito_tag :div, @obj, :project_title, class: "works-title" %>
        </div>
        <% end %>
      </div>
        
      </div>
    </div><!-- /row works -->
  </div>

