/*
 *= require scrivito
 *= require scrivito_advanced_editors
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

@import "ekko-lightbox";

@import "scrivito-example-app";/*****GENERAL ******/
body {
	font-family: "Century Gothic", Arial, sans-serif;
	position: relative;
	padding-top: 50px;
	color: #b8b4ae;
	/*background-color: #fff;*/
}

h1, 
h2 {
	font-family: "Century Gothic", Arial, sans-serif;
	color: #816f5a;
	margin-top: 5px;
	margin-bottom: 10px;
}

a {
	color: #816f5a;
	text-decoration: none;
}

a:hover {
	color: #816f5a; 
	font-weight: bold;
	text-decoration: none;
}



/**** PROJECTS ****/
.works-content {
	padding-top: 15px;
}

.works-title {
	font-size: 1.25em;
	color: #816f5a;
}

.works-img {
	margin: auto;
	position: relative;
	padding: 0px;
}

.info {
	position: absolute;
	top: 10%;
	left: 5%;
	color: #272822;
	font-family: Futura;
	text-transform: uppercase;
	font-weight:700;
	letter-spacing: .1em;
	line-height: 1.1;
	display: none;
}

.project {
	padding: 0px;
}

.project-label {
	font-size: 1.5em;
	font-weight: 100;
}

.project-title>a {
	color: #6fc84c;
}

.project-title>a:hover {
	color: #fff;
}

.popover-title {
	color: #333;
}

.popover-content {
	color: #414141;
}


/**** CONTACT ****/
.img-about {
	width: 100%;
} 

#contact-background {
	padding-top: 25px;
}


/**** PUBLICATIONS ****/
.learn-more {
	text-align: left;
	float: left;
}

.modal-button-resume {
	float: right;
	padding: 25px;
}

.btn-resume {
	color: #fff;
	background-color: #333;
}

#modalembed {
	height: 700px;
	width: 100%;
	padding: 10px;
}



/*****FOOTER ******/
.footer {
	padding: 15px;
}

.footer-left {
	display: inline-block;
}

.footer-right {
	float: right;
}


