<header class="site-header push">
  <div class="menu-btn">
      <%= image_tag("Logo.png", style: "max-height: 100px;", alt: "scape design studio") %>
      <span class="menu"></span>
  </div>
</header>
  <nav class="pushy pushy-left">
    <ul>
      <li class="pushy-link pushy__close">
        <span class="glyphicon glyphicon-remove">
      </li>
      <li class="pushy-link">
        <%= link_to(scrivito_path(home_page), class: "navbar-brand navbar-logo") do %>
        home
        <% end %>
      </li>
      <li class="pushy-link">
        <a href="/__scrivito/985204a985c01ea1">our work</a>
      </li>
      <li class="pushy-link">
        <a href="#">works in progress</a>
      </li>
      <li class="pushy-link">
        <a href="/__scrivito/d128a9a9afa32934">publications</a> 
      </li>      
      <li class="pushy-link">
        <a href="#">about</a> 
      </li>
      <li class="pushy-link">
        <a href="/__scrivito/cbe4a6c60885a997">contact</a>
      </li>
    </ul>
  </nav>